<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jut Do It !!!!</title>
    <script src="./static/js/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <div id="app">
          <h1> {{ message }} </h1>
            <div v-for="category in categories">
              <b> 카테고리 : {{category['category']}}</b>

              <div v-for="memo in category['memoList']">
                <div v-if="memo['done']">
                  <s>{{memo['memo']}}</s>
                </div>
                <div v-else>
                  {{memo['memo']}}
                </div>
              </div>
            </div>
    </div>
    <script>
    var app = new Vue({
      el: '#app',
      data: {
        newTodoText: '',
        message: 'Todo List App',
        categories: []
      },
      methods: {
        getData: function() {
              var link = 'http://127.0.0.1:8000/todo';
              axios
                .get(link)
                .then(response => {
                    this.categories = response.data['categories'];
                })
                .catch(e => {
                      this.errors.push(e)
                })
        },
        addNewTodo: function () {
           var link = 'http://127.0.0.1:8000/todo';
           axios
            .post(link, {
            	body: this.newTodoText
            })
            .then(res => {
            	console.log(res.data)
            })
            .catch(e => {
                  this.errors.push(e)
            })

           this.newTodoText = ''
           this.getData()
        },
        remove: function (index) {
          var link = 'http://127.0.0.1:8000/todo/'+index;
          axios
           .delete(link)
           .then(res => {
             console.log(res.data)
           })
           .catch(e => {
                 this.errors.push(e)
           })
        }
      },
      mounted: function() {
        this.getData();
      }
    })
  </script>
</body>
</html>
