<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jut Do It !!!!</title>
    <script src="./static/js/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <div id="app">

          <h1> {{ message }} </h1>
          <input
              v-model="newTodoText"
              v-on:keyup.enter="addNewTodo(newTodoText)"
              placeholder="Add a todo"
            >
          <ul id="app">
            <li v-for="(item, index) in totos">
              {{ index }} - {{ item.memo }} {{ item.done }} <button v-on:click="remove(index)">X</button>
            </li>
          </ul>

    </div>
    <script>
    var app = new Vue({
      el: '#app',
      data: {
        newTodoText: '',
        message: 'Todo List App',
        totos: []
      },
      methods: {
        getData: function() {
              var link = 'http://127.0.0.1:8000/todos';
              axios
                .get(link)
                .then(response => {
                    this.totos = response.data["todos"];
                })
                .catch(e => {
                      this.errors.push(e)
                })
        },
        addNewTodo: function () {
           var link = 'http://127.0.0.1:8000/todos';
           axios
            .post(link, {
            	body: this.newTodoText
            })
            .then(res => {
            	console.log(res.data)
            })
            .catch(e => {
                  this.errors.push(e)
            })

           this.newTodoText = ''
           this.getData()
        },
        remove: function (index) {
          var link = 'http://127.0.0.1:8000/todos/'+index;
          axios
           .delete(link)
           .then(res => {
             console.log(res.data)
           })
           .catch(e => {
                 this.errors.push(e)
           })
        }
      },
      mounted: function() {
        this.getData();
      }
    })
  </script>
</body>
</html>
